{% extends 'food/main.html' %}
{% load static %}
{% block delete_product %}

<body>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to delete {{product.name}}?</p>
            <form action="" method="POST">
                {% csrf_token %}
                <a class="btn btn-sm btn-warning" href="{% url 'view_product' %}">Cancel</a>
                <input class="btn btn-sm btn-danger" type="submit" name="confirm">
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}