{% extends 'food/main.html' %}
{% load static %}

{% block lunch %}
<div class="row row1">
    {% for product in products %}
    {% if product.category == 'Lunch' %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.ImageURL}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart"> Add to Cart</button>
            <h4 style="display: inline-block;float:right">₹ {{product.price|floatformat:2}}</h4>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}